//= require bootstrap

h1, h2, h3, h4
  font-weight: 400

body
  padding-top: 50px

.brand-wrapper
  text-align: center
  .brand
    color: #888
    font-size: 6em
  .download-btn
    margin-top: 20px
    border: 1px solid #ddd
    color: #888