//= require bootstrap

@import compass/css3

h1, h2, h3, h4
  font-weight: 400

body
  padding-top: 50px

.brand-wrapper
  text-align: center
  .brand
    color: #888
    font-size: 6em
  .download-btn
    margin-top: 20px
    border: 1px solid #ddd
    color: #888

.todo-wrapper
  text-align: center
  // width: 400px
  margin-left: auto
  margin-right: auto    
  .todolist
    .check-box
      border: 4px solid #A2DDE2
      float: right
      width: 1.4em
      height: 1.4em
      line-height: 0.9
      cursor: pointer
      @include box-shadow(0 0 3px rgba(0,0,0,0.6) inset)
    .list
      margin: 10px 0px
      padding: 10px
      font-size: large
      background-color: white
      @include border-radius(5px)
      @include box-shadow(0 0 2px rgba(0,0,0,0.6))

.section-divider
  margin: 60px 0px

.code-wrapper
  text-align: center
  .code-block
    overflow: auto
    pre
      text-align: left